<h3>All Help needed page</h3>
<h1>List of Help Offered</h1>

<%= form_tag dashboard_helpers_path, :method => 'get', :id => "service_search"  do %>
<%= text_field_tag :search, params[:search]%>
<%= submit_tag "Search", :name => nil  %>
<% end %>

<div id="helpers"><%= render 'helpers' %></div>
