<h3>Match</h3>
<div class="gridster">

    <ul>
        <li class="gridster-cell" data-row="1" data-col="1" data-sizex="1" data-sizey="1">Block1</li>
        <li class="gridster-cell" data-row="1" data-col="1" data-sizex="6" data-sizey="2">Block2</li>
        <li class="gridster-cell" data-row="3" data-col="1" data-sizex="3" data-sizey="3">Block3</li>

    </ul>
</div>
