<section>
  <div class="type-js headline">
    <h1 class="text-js">Look mum, get the help you need.</h1>
  </div>
</section>
<div></div>
<section class="buttons">
  <div class="container">
    <a href="users/sign_in" class="btn btn-1">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
     <h4>Right Here</h4>
    </a>
  </div>
</section>
