.gridster-cell {
  background-color: #2EFEF7;
  list-style-type: none;
}

.turquoise{
  background-color: #6DCBF2;
  list-style-type: none;
  color: white;

}

.turquoise:hover {
  color: black;
}

.blue{
  background-color:#048BC2;
  list-style-type: none;
  color: white;
}

.blue:hover {
  color: black;
}

.avatar {
  margin: 5px;
}

.white {
  background-color:white;
  list-style-type: none;
}
