
/* Match page */


/* Gridster help all page*/

.gridster {
  background-color: white;
  border-top: 1px solid red;
  margin-top: 500px;
}
.gridster-cell {
  background-color: #2EFEF7;
  list-style-type: none;
}

.turquoise{
  background-color: #6DCBF2;
  list-style-type: none;
  color: white;
}

.turquoise:hover {
  color: black;
}

.blue{
  background-color:#048BC2;
  list-style-type: none;
  color: white;
}

.blue:hover {
  color: black;
}

.avatar {
  padding-top: 10px;
}

.white {
  background-color:white;
  list-style-type: none;
}


/* ********* /
/* homepage */

// CSS Needed to make it work (Wrote not using SCSS at all copy and paste away)
// copy and paste into your CSS and the cursor should appear when typing begins
.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


// Rest of CSS (Purely for this pen)
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*{
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
  font-family: "Open Sans", sans-serif
}
body{
  background: linear-gradient(135deg,#00C4FF,#9D1BB2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Text Can be styled just like normal
.headline{
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
  h1{
    letter-spacing: 1.6px;
    font-weight: 300;
  }
}




/* below section*/


/* hover button*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;

//base styles

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}


.buttons {
  display: table;
  height: 100%;
  width: 100%;
}

.container {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: $white;
  font-size: 1.25em;
  font-weight: 900;
  margin: 0 0 2em;

  @media (min-width: 450px) {
    font-size: 1.75em;
  }

  @media (min-width: 760px) {
    font-size: 3.25em;
  }

  @media (min-width: 900px) {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
}

p {
  color: $white;
  font-size: 12px;

  @media(min-width: 600px) {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 90%;
  }

  @media(max-height: 500px) {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }

  a {
    background: rgba($white, 0);
    border-bottom: 1px solid;
    color: $white;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;

    &:hover {
      background: rgba($white, 1);
      color: $red;
    }
  }
}
//button styles


//default button
.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {

  font-weight: 100;

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}

.btn-1:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
