.dashboard-container {

  overflow: scroll;
  height: auto;
  height: 500px;
  vertical-align: bottom;

}

.dashboard-avatar img {
  border-radius: 50%
}
 .profile-edit {
  width: 50px;
  margin-right: 0px;
}
.profile {
  border-color: rgba(158,173,195,.16);
  background: #fff;
}
.services-requested {
  border-color: rgba(158,173,195,.16);
  background: #fff;
}
.dashboard-requests-wrapper h3 {
  font-weight: bold;
  font-variant: small-caps;
}
.dashboard-offers-wrapper {
font-weight: bold;
font-variant: small-caps;
font-size: 16px;
}
.dashboard-offers-wrapper h3 {
  font-weight: bold;
  font-variant: small-caps;
}
.services-offered {
  border-color: rgba(158,173,195,.16);
  background: #fff;
}
.dashboard-profile-wrapper {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}
.dashboard-profile-wrapper h3 {
  font-weight: bold;
  font-variant: small-caps;
}
.dashboard-requests-wrapper {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}
.dashboard-helpers-wrapper
h3 {
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 10px;
  margin-bottom: 100px;
}
.dashboard-helpers-wrapper
table {
  border-color: rgba(158,173,195,.16);
  background: #fff;
}
.dashboard-seekers-wrapper
h3 {
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 10px;
  margin-bottom: 100px;
}
.dashboard-seekers-wrapper
table {
  border-color: rgba(158,173,195,.16);
  background: #fff;
}
.dashboard-reviews-wrapper h3 {
  font-weight: bold;
  font-variant: small-caps;
}
.dashboard-reviews-wrapper {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}
