.profile_table{
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

}

.avatar_picture {
  width: 100px;
  border-radius: 50%;
}

.table {
  width: 100%;
}

th {
  text-align: center;
}

.profile-title {
  margin-top: 10px;
  margin-bottom: 170px;
}

td {
  vertical-align: middle;
}
