.sessions-title {
  margin-top: 10px;
  margin-bottom: 100px;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 18px;
}

.sessions-login-fields {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}

.sessions-login-button {
  margin-bottom: 100px;
  display: inline-block;
  text-align: center;
}

.forgot-password-title {
  margin-top: 10px;
  margin-bottom: 100px;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 18px;
}

.forgot-password-fields {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16px;
}

.forgot-password-button {
  margin-bottom: 100px;
  display: inline-block;
  text-align: center;
}
